/**
 * @Author: Toke Raabjerg <nadgryzione>
 * @Date:   14-Sep-2018
 * @Email:  tokermc@hotmail.co
 * @Project: Lectio Expert
 * @Last modified by: Ghaith Al-Maliki
 * @Last modified time: 01-Dec-2018
 */
/*
    LIBARY:
      - OVERALL STYLE
      - HEADER
      - TITLE
      - CENTER
      - FOOTER
      - DROPDOWN
*/


 /*----------------------------------------------------------------*/
 /*                           OVERALL STYLE                        */
 /*----------------------------------------------------------------*/

html, body {
  width:300px;
  font-size:95%;
  /*background-image: linear-gradient(to right top, #232b37, #325066, #357996, #2ba6c4, #12d5eb)!important;*/
}

.masterContent {
  height: 0%;
  /*width: 85%;*/
  margin: auto;
}

a:-webkit-any-link {
  color: #0000EE;
}
a#noLink {
  color:white;
  text-decoration: none;
}

/*----------------------------------------------------------------*/
/*                           CHRISTMAS STYLE                      */
/*----------------------------------------------------------------*/

u {
  color: red;
}

.select {
    background:rgb(255,145,0);
}
.select.highlight {
    background:rgb(26, 255, 0);
}


/*----------------------------------------------------------------*/
/*                           HEADER CONTENT                       */
/*----------------------------------------------------------------*/

div.sidebar {
  /* --- Display --- */
  width: 60px;
  position: fixed;
      top: 0px;
      left: 0px;
  z-index: 9 !important;
  height:100%;

  /* --- Styling --- */
  /*background-color: #ededed;
  box-shadow: 2px 0px 5px lightgrey;*/
}
  .headerButtonBottom {
    position: fixed;
        bottom: 15px;
  }
    .headerButton {
      /* --- Display --- */
      display:block;
      margin: 10px 0px -6px 5px;
      width: 50px;
      z-index: 10;

      /* --- Styling --- */
      border-color:#006ea9;
      border-radius: 3000px;
      font-size: 180% !important;
      color:white;
      background-color: #006ea9;
      border-style:none !important;
    }

      .hoverable:hover {
        background-color:#1895d8!important;
      }

      .headerButton:focus {
        outline-style:none;
      }

        .verticalLine {
          margin: 23px 0px 0px 30px;
          border-left: 2px solid #006ea9;
          height: 46vh;
        }
          .arrowBack {
            color:black !important;
            font-size:200%;
            position:fixed;
                top:15px;
                left:15px;

            text-decoration: none;
          }

/*----------------------------------------------------------------*/
/*                          TITLE CONTENT                         */
/*----------------------------------------------------------------*/

.titleContent {
  text-align: center;
  width: 70%;
  margin-left: 60px;
  margin-top: -15px;
}
.titleContent h2 {
  font-size:180%
}

.title {
  text-align:center;
}

/*----------------------------------------------------------------*/
/*                          CENTER CONTENT                        */
/*----------------------------------------------------------------*/

.centerContent {
  text-align:center;
  margin-left: 60px;
  width: 72%;
}

  input {
    font-size:110%;
    text-align:center;
    background-color: white;
    border: 2px solid #e7e7e7;
    border-radius: 4px !important;
    /* box-shadow: 2px 2px 10px lightgrey; */
  }

    label {
      cursor:pointer;
    } label:hover {
        background-color: #e7e7e7 !important;
      }

        .center {
          text-align:center;
          width: 115vh;
        }

.description {
  text-align:left;
  width:100%;
}

/*----------------------------------------------------------------*/
/*                          FOOTER CONTENT                        */
/*----------------------------------------------------------------*/

footer {
  position: fixed;
      left: 5px;
      bottom: 9px;
  text-align:center;
  background-color:#006ea9;
  color:white;
  padding: 3px;
  width:50px;
  border-radius: 3000px;
  font-size: 180% !important;

}

/*----------------------------------------------------------------*/
/*                          DROPDOWN CONTEN                       */
/*----------------------------------------------------------------*/

.dropbtn {
    background-color: white;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    max-width: 65px;
    font-size:120%;
    z-index:1;
}

.dropdown-content a {
    color: black !important;
    /*padding: 12px 16px;*/
    text-decoration: none;
    display: block;
    text-align:center;
    z-index:1;
}

/*.dropdownButton {
  width: 60px;
  margin: 0px 0px 0px 0px !important;
  padding: 0px 0px 0px !important;
  margin-left:30px!important;
}*/

/*.dropdown-content a:hover {background-color: #ddd;}*/

.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover + .verticalLine {border-left: 0px solid white;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 25.5px;
  float:right;
}
.switch, #jscolor, #zoomLevel {
  margin-right:20px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 19.5px;
  width: 19.5px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:checked + .slider:before {
  transform: translateX(19px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

label.switch:hover {background:none!important;}

:focus {
  outline:none!important;
}
